/* Global styles for the entire app */

body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    /* background-color: #f9f9f9; */
    /* Set a background color for the entire page */
}

.Messaging {
    display: flex;
    /* width: 100%; */
    /* height: calc(100vh - 142px); */
    /* overflow: hidden; */
}

/* Styles for the sidebar (ContactList) */

.sidebar {
    /* width: 25%; */
    /* background-color: #fff; */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow to the left panel */
    /* overflow-y: auto; */
}

/* Styles for the main content (ChatArea) */

.main-content {
    /* width: 75%; */
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow to the right panel */
}

/* Add these styles to your ChatArea.css file */

/* Add these styles to your ChatArea.css file */

.message-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
}



.message-sent {

    color: #fff;
    align-self: flex-end;
    border-top-right-radius: 0;
    /* Adjust border radius for sent messages */
}

.message-received {
    background-color: #f2f2f2;
    align-self: flex-start;
    border-top-left-radius: 0;
    /* Adjust border radius for received messages */
}

.message-sender {
    font-weight: bold;
    margin-bottom: 5px;
    color: #007bff;
    /* Color for sender's name */
}

.me {
    color: white;
}

/* .no-contact-selected {
    transform: translate(-50%, -50%);
} */